<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>User Profile</title>
<link rel="stylesheet" href="profile.css">
</head>
<body>
    <div class="container">
        <h1>User Profile</h1>
        <div class="profile-info">
            <label>Name:</label>
            <span id="name"><%=user.name%></span>
            <label>Roll Number:</label>
            <span id="roll"><%=user.rollno%></span>
            <label>Email:</label>
            <span id="email"><%=user.email%></span>
            <label>Branch:</label>
            <span id="branch"><%=user.Branch%></span>
        </div>
        <div class="edit-profile profile-info" id="edit-profile">
            <form method="post">
                <label for="edit-name">Name:</label>
                <input type="text" id="edit-name" name="edit_name" required>
                <label for="edit-roll">Roll Number:</label>
                <input type="text" id="edit-roll" name="edit_roll" required>
                <label for="edit-email">Email:</label>
                <input type="email" id="edit-email" name="edit_email" required>
                <label for="edit-branch">Branch:</label>
                <select name="branch" required>
                    <option value="" disabled selected>Select Branch</option>
                    <option value="CSE">Computer Science</option>
                    <option value="EE">Electrical</option>
                    <option value="ME">Mechanical Engineering</option>
                    <option value="MnC">Mathematics and Computing</option>
                </select>
                <input type="submit" class="edit-save-btn"value="Save">
            </form>
        </div>
        <div class="logout-btn">
            <a href="#">Logout</a>
        </div>
        <button class="edit-btn" id="edit-btn">Edit Profile</button>
    </div>

    <script>
      const editBtn = document.getElementById('edit-btn');
      const editProfile = document.getElementById('edit-profile');

      editBtn.addEventListener('click', () => {
          editProfile.classList.toggle('active');
      });
  </script>
</body>
</html>