.navbar-brand{
    background-image: url("https://upload.wikimedia.org/wikipedia/en/a/a7/Indian_Institute_of_Technology_Goa_Logo.svg");
    background-color: white;
    border-radius: 50%;
    background-size: cover;
    width: 50px;
    height: 50px;
}

.profile{
    background-image: url("img/search-button-svgrepo-com.svg");
    background-size: cover;
    height: 30px;
    width: 30px;
}

.calendar {
    width: 80%;
    height: auto;
    margin: 5% auto;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    background-color: #1F2421;
}
.month {
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
    color: white;
}
.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}
.day {
    text-align: center;
    height: 50px;
    padding: 5px;
    border: 1px solid #ccc;
    background-color: #DCE1DE;
    border-radius: 5px;
    border: transparent 3px solid;
}

body{
    
    background-image: url("./img/background.png");

}

.day:hover{
    background-color: #49A078;
    color: white;
    font-size: x-large;
    text-shadow: 2px 2px 2px black;
    border-radius: 30px;
    transform: scaleX(1.2) scaleY(1.2);
    border-color: black;
    transition: 500ms;
}

.up:hover{
    background-color: #49A078;
}

.down:hover{
    background-color: #49A078;
}

.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.up{
    background-image: url("./img/up-arrow-svgrepo-com.svg");
    background-color: #49A078;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    background-size: cover;
    margin: 4px;
    border: solid transparent 2px;
    border-radius: 10px;
}

.down{
    background-image: url("./img/up-arrow-svgrepo-com\ \(1\).svg");
    background-color: #49A078;
    width: 30px;
    height: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 4px;
    border: solid transparent 2px;
    border-radius: 10px;
}

.form1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    flex-direction: column;
    text-align: center;
}

.month{
    margin: auto;
    text-align: center;
}
.nav-item{
    margin: 4px;
    border: solid transparent 2px;
}
.nav-item:hover,.up:hover,.down:hover{
    margin: 4px;
    border-color: white;
    border-radius: 10px;
}

a{
    text-decoration: none;
    color: black;
}

.edit-btn{
    margin-top: 20px;
    border-radius: 10px;
    padding: 10px;
    display:flex;
    align-items: center;
    background-color: #49A078;
    border: transparent solid 2px;
}

.edit{
    background-image: url("./img/edit.svg");
    background-size: cover;
    width: 30px;
    height: 30px;
    margin-left: 6px;
}

.edit-btn a{
    text-decoration: none;
}

.edit-btn:hover{
    border-color: black;
}

.nav-link {
    color: white !important;
}
